
    <div class="container bg-white p-4 rounded mt-5">
      <h3 class="mb-3">Fluxo de chamados</h3>
      <div class="row">
          <!-- Área de Tabela -->
          <div class="col-md-8 mb-5">
              <table class="table table-hover">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Motivo</th>
                          <th scope="col">Complemento</th>
                          <th scope="col">Urgência</th>
                          <th scope="col">Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Exemplo de linha da tabela -->
                      <tr>
                          <th scope="row">1</th>
                          <td>Motivo Exemplo</td>
                          <td>Complemento Exemplo</td>
                          <td>Alta</td>
                          <td>Aberto</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Motivo Exemplo 2</td>
                          <td>Complemento Exemplo 2</td>
                          <td>Média</td>
                          <td>Em Progresso</td>
                      </tr>
                  </tbody>
              </table>

          </div>
          <!-- Área de Informações do Usuário -->
          <div class="col-md-4">
              <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                      Informações do Usuário
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Solicitante</h5>
                      <p class="card-text">Nome do Solicitante</p>
                      <h5 class="card-title">Setor</h5>
                      <p class="card-text">Nome do Setor</p>
                      <h5 class="card-title">Telefone</h5>
                      <p class="card-text">(XX) XXXX-XXXX</p>
                      <h5 class="card-title">E-mail</h5>
                      <p class="card-text">usuario@exemplo.com</p>
                      <h5 class="card-title">Observações</h5>
                      <p class="card-text">Observações do Solicitante</p>
                  </div>
              </div>
              <div class="d-flex gap-3">
                <button class="btn btn-primary">Atender</button>
                <button class="btn btn-success">Concluir</button>
                <button class="btn btn-dark">Gerar Relatório</button>
            </div>
          </div>
      </div>
  </div>
      