@model FuncaoViewModel;

    <div class="container bg-white p-4 rounded mt-5 col-6">
        <div class="row">
            <!-- Área de Motivos -->

            <!-- Área de Complementos -->
            <div class="m-auto mb-5">
                <h3>Funções</h3>
                <ul class="list-group mb-3">
                    <!-- Exemplo de item da lista -->
                @foreach (var funcoes in Model.Funcoes)
                {
                   <li id="funcaoSelect" data-motivoid="@funcoes.SetorId" class="list-group-item d-flex justify-content-between align-items-center">
                  @Html.DisplayFor(modelItem => funcoes.Nome)
                    <span>
                        <button class="text-white btn btn-sm btn-warning me-2">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <form asp-action="DeletePost">
                            <input type="hidden" name="id" value="@funcoes.Id" />
                            <button type="submit" class="btn btn-sm btn-danger"> <i class="bi bi-trash-fill"></i> </button>
                       </form>
                    </span>
                 </li>
                }                 
                 
                </ul>
                <!-- Formulário para cadastrar nova funcao -->
                <form asp-action="Create">
                    <div class="mb-3">
                        <h5>Selecione o setor</h5>
                        <div class="form-group">
                            <label asp-for="NovaFuncao.Setor" class="control-label">Setor</label>
                            <select asp-for="NovaFuncao.SetorId" asp-items="@ViewBag.Setores" id="setorSelect" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="NovaFuncao.Setor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="noa funcao" class="form-label">Nova função</label>
                        <input asp-for="NovaFuncao.Nome" type="text" class="form-control" id="novafuncao" placeholder="Digite a funcao">
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar função</button>
                </form>
            </div>
        </div>
    </div>

        <!-- Modal de Confirmação -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirmar Deleção</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja deletar este item?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Deletar</button>
                    </div>
                </div>
            </div>
        </div>

            <!--Modal de edicao-->
            <div class="modal fade" id="editSectorModal" tabindex="-1" aria-labelledby="editSectorModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editSectorModalLabel">Editar Nome do Setor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="sectorName" placeholder="Digite o novo nome do setor">
                                </div>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Quando o motivo for alterado
        $('#setorSelect').on('change', function() {
            var selectedSetorId = $(this).val(); // Pega o ID do setor selecionado

            // Esconde todos os funcoes
            $('#funcaoSelect li').hide();

            // Mostra apenas os complementos que têm o motivoId igual ao selecionado
            $('#funcaoSelect li[data-setorid="' + selectedSetorId + '"]').show();

            // Selecione a opção padrão "Selecione um complemento"
            $('#complementoSelect').val('');
        });

        // Quando a página carregar, esconder todos os complementos inicialmente
        $('#funcaoSelect li[data-setorid]').hide();
    });
</script>
